body {
    font-family: sans-serif;
}

.words .word-block {
    white-space: nowrap;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 4px;
    line-height: 2;
}

.words .word-block:hover {
    background-color: #F0F0F0;
}

.words .word-block sup {
    font-size: 80%;
    padding: 1px;
    border: 1px solid #DDD;
    border-radius: 4px;
    /*
                background-color: #AAA ;
                color: lightgreen;
                */
}

.clients figure {
    text-align: center;
    display: inline-block;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    padding: 4px;
}

.clients figure:hover {
    background-color: #F0F0F0;
}

.clients figure img {
    max-width: 80px;
}

#offers-dialog ul {
    padding-left: 4px;
}
#offers-dialog .tm-content {
    overflow-y: auto;
}
#offers-dialog .tm-content li a {
    color: blue ;
}


